<div>
    <h1>Add a product</h1>

    <input type="text" id="title" placeholder="Insert a new product...">
    <input type="text" id="description" placeholder="Description">
    <input type="text" id="code" placeholder="Code">
    <input type="text" id="price" placeholder="Price">
    <input type="text" id="stock" placeholder="Stock">
    <input type="text" id="category" placeholder="Category">
    <button id="button">Send</button>

    <h1>List of products</h1>
    <ul id="list"></ul>
    <h5 id="errors"></h5>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>